POSTGRES_USER=ponto
POSTGRES_PASSWORD=ponto
POSTGRES_DB=ponto_digital
POSTGRES_PORT=5433

DATABASE_URL="postgresql://ponto:ponto@localhost:5433/ponto_digital?schema=public"
DATABASE_URL_UNPOOLED="postgresql://ponto:ponto@localhost:5433/ponto_digital?schema=public"

PORT=3050
ORIGIN=http://localhost:3050

JWT_SECRET="segredo"
